@import "../../variables.scss";

.cart {
  position: relative;

  &__badge {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    background: $primary-orange;
    color: $white;
    font-size: 10px;
    position: absolute;
    top: -48%;
    right: -9px;
  }
}
