@import "./variables.scss";

.product-description__section {
  margin-top: 60px;
  @include container;

  @include md-and-up {
    margin-top: 120px;
  }
  @include xl-and-up {
    display: flex;
    align-items: center;
  }
}

.swiper-pagination-bullet-active {
  border: 2px solid $primary-orange !important;
  background: $white !important;
  img {
    opacity: 0.5;
  }
}
