* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  background: white;
  color: hsl(220, 13%, 13%);
}
